
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f8ff;
}
img {
    max-width: 100%;
    height: auto;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    text-align: center;
    /* padding: 100px; */
    /* margin: 30px 150px 0 150px; */
    margin-top: 30px;
}

.nav-work ul li{
    list-style: none;
    width:73px ;
    height:24px ;
    /* left: 94px; */
    margin-right: 48px;

}
.nav-work ul a{
    text-decoration: none;
    color: #8987A1;
}

.nav-work ul li .HOME{
   width:26px ;
   height:24px ;
    font-weight: 500;
    color:#252432 ;
}
.nav-work ul li .Cart{
    
    width:79px;
    height:24px ;
    color:#000000 ;
}

/* sher content */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-top{
    margin-top: 120px;
}

/* hero-section */
.hero-child{

}
.hero-heading h1{
    font-size: 65px;
    font-weight:bold ;
    color: #000000;
   
}
.hero-heading{
    width:570px ;
}
.hero-pera{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 22px;
    margin-top: 13px;
    
}
 .hero-heading .heading-color{
    color: #E95A08;
 }
 /* End header */
 /* start main */
 .Our-Plants h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
 }

 .Our-Plants .our{
    color: #E95A08;
 }
 .Our-Plants p{
    text-align: center;
    font-size:22px ;
    font-weight:400 ;
    color: rgba(0, 0, 0, 0.5);

     
 }
 .flwour-containar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 120px;
 }

 .flowr img{
   width: 100%;
   height: auto;
 }

 .flowr h4 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
 }
  .flowr h2{
    font-size:22px;
    font-weight:700;
   text-align: center;
   margin-top: 10px;
  }
  .btn{
    width:100%;
    height:50px ;
    background-color:rgb(233, 90, 8) ;
    color:rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
  }
  .flowur-stor{
    margin-top: 210px;
    display: flex;
    gap: 60px; 
  }
.stor{
    width:540px ;
    height: 597px;
   
}
.flour-child{
    width: 50%;
    margin-top: 38px;
}
.flour-child h1{
    font-size:50px ;
    font-weight:bold ;
    color: #000;
    margin-top: 38px;
}
.flour-chil ul {
    margin-left: 20px;
}
.flour-child li{
    font-size:22px ;
    font-weight: 400;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.flowur-stor-left {
    position: relative;
    width: 50%;
}
.bach{
    width: 286px;
    height: 286px;
    position: absolute;
    background: transparent;
    right: -100px;
    top: -150px;
}
.shesh-section{
    margin-top: 133px;
    margin-bottom: 111px;
}

.end-section h1{
    font-size:50px ;
    font-weight:bold ;
    text-align: center;
}
.end-section h1 span{
    color: #E95A08;
}
.end-section p{
    font-size:22px ;
    font-weight:400 ;
    color:rgba(0, 0, 0, 0.5) ;
    text-align: center;
}
.frist-flowur h1{
    font-size:20px ;
    font-weight:700 ;
    color:rgb(212, 14, 14) ;

}
.frist-flowur h3{
    font-size: 16px;
    font-weight: 600;

}

.malti-imgs {
    align-items: stretch;
    gap: 28px;
}

.malti-img {
    width: 30%;
}

.malti-img-1 {
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    height: 206px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 19px;
    flex-direction: column;
    border-radius: 14px;
    background-size: cover;
}

.malti-img-2 {
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 19px;
    flex-direction: column;
    border-radius: 14px;
    background-size: cover;
}
.malti-img-3 {
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
    border-radius: 22px;
    background-size: cover;
    width: 70%;
}
.comon{
    background: transparent;
    color: aliceblue;
    font-size:20px ;
    font-weight:bold;
}
.comona{
     background: transparent;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;

}

.malti-img-3 .comon{
    font-size:40px ;
   
}
.malti-img-3 .comona{
    font-size:28px ;
   
}
.form{
    height: 533px;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
}

.form h1{
    font-size:50px ;
    font-weight:bold ;
    background: transparent;
    color:white ;
    text-align: center;
   
}
.form input{
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
   
}
form{
    display: flex;
}
form .email{
    width:544px ;
    height:50px ;
     font-size: 16px;
    padding: 20px;
}
form .button{
    width: 186px;
    height: 50px;
    font-size:16px ;
    font-weight:600 ;
    color:white ;
    background-color: #E95A08;

}

footer {
    background: #fbfcff;
    padding: 50px;
}

.footear {
    display: flex;
    align-items: flex-start;
    gap: 110px;
    
}

.box-one {
    width: 315px;
}
.box-one p{
    font-size:22px ;
    font-weight:400 ;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;

}

footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size:22px ;
    font-weight:400 ;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 32px;
    display: block;
}

footer ul li:last-child a{
    margin-bottom: 0;
}
.box-four li{
    list-style: none;
}
.box-four ul{
    display: flex;
    gap: 24px;
    align-items: center;
}

.box-four ul li a{
    margin-bottom: 0;
}



@media screen and (max-width: 1199px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 100%;
        
        padding: 0 20px;
    }
}